<img
  src="https://solawi.gaertnerei-apfeltraum.de/wp-content/uploads/2020/01/logo-bw.png"
  alt="Logo Gärtnerei Apfeltraum"
  title="Logo Gärtnerei Apfeltraum"
  style="width:280px;"
>
<h3 style="color: rgb(0, 124, 21);">Hallo <%= @name %>,</h3>
<p>
  dein Mitgliedsbeitrag wurde erfolgreich gespeichert: <b><%= number_to_currency(@bid) %></b>.
</p>
<p>Danke!</p>
