<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hallo <%= @name %>,</h1>
    <p>
      dein Mitgliedsbeitrag wurde erfolgreich gespeichert: <b><%= @bid %> €</b>.
    </p>
  </body>
</html>
